<ng-template #hireDialog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hire dialog</p>

    <form class="form-horizontal" [formGroup]="hireForm">
      <legend>Name</legend>
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" formControlName="name" id="inputName" placeholder="Name">
      </div>
      <legend>Quantity</legend>
      <div class="form-group">
        <label for="inputQuantity">Quantity</label>
        <input type="number" formControlQuantity="quantity" id="inputQuantity" placeholder="Quantity">
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('saveHire')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Close</button>
  </div>
</ng-template>

<ng-template #ownDialog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="ownForm">
      <legend>Name</legend>
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" formControlName="name" id="inputName" placeholder="Name">
      </div>
      <legend>Driver</legend>
      <div class="form-group">
        <select class="form-control" formControlName="driver">
          <option *ngFor="let driver of drivers" [ngValue]="driver.id">
            {{driver.name}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('saveOwn')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Close</button>
  </div>
</ng-template>

<ul>
  <li *ngFor="let e of equipments">
    <button class="btn btn-lg btn-outline-primary" (click)="openDialog(e)">{{e.name}}</button>
  </li>
</ul>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
